@mixin text_scss{
    text-align: center;
    align-items: center;
    justify-content: center;
}

$height_min: 100vh;

.login {
   @include text_scss();
    padding: 200px;
    min-height: $height_min;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

    .title {
       @include text_scss();
        font-size: 60px;
        font-weight: bolder;
        margin-bottom: 15px;
        color: rgb(26, 26, 99);
       
    }
    .data {
        @include text_scss();
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .login-button {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .text {
        margin-bottom: 15px;
    }
    .theory {
      margin-left: 25px;
    }
}

